In [26]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

for boys1 in boys:
    if len(boys1)%2==0:
        print(boys1[int(len(boys1)/2-1)],boys1[int(len(boys1)/2)])
    else:
        print(boys1[int(len(boys1)/2)])

t
l e
o h
t h
h

In [40]:
boys.sort()
girls.sort()

for b, g in zip(boys, girls):
    print(b, g)

Alex Emma
Arthur Kate
John Kira
Peter Liza
Richard Trisha

In [90]:
countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]


for country in countries_temperature:
    print(country[0].capitalize(), ':', sep='')
    for i in country[1]:
        print((i-36)*(5/9))

Thailand:
21.77777777777778
22.77777777777778
23.77777777777778
20.777777777777782
17.77777777777778
21.77777777777778
22.77777777777778
Germany:
11.77777777777778
10.777777777777777
12.777777777777779
12.777777777777779
9.777777777777779
10.777777777777777
11.77777777777778
Russia:
-0.22222222222222143
0.777777777777777
1.7777777777777795
2.7777777777777777
3.7777777777777763
1.7777777777777795
-0.22222222222222143
Poland:
7.777777777777779
7.777777777777779
9.777777777777779
11.77777777777778
10.777777777777777
10.777777777777777
8.777777777777777

In [72]:
countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]

countries_temperature[0][1]

[75.2, 77, 78.8, 73.4, 68, 75.2, 77]

In [12]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]


len(stream)/len(set(stream))

1.0

In [ ]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]


userinput = input('Введите данные: ')
userinput1 = input('Введите данные: ')
for i in stats:
    if userinput == i[0] and userinput1 == i[1]:
        print(i[2])

In [ ]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
] 

n=0
for i in range(len(data)):
        n += data[i][1]
        print(n)